@charset "UTF-8";

body{background-image: url('index./img_0002.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;}
